{% extends 'base.html.twig' %} {% block content %}
<h1>Liste d'évènements</h1>






<div class="action">

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Lieu</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nombre de participants inscrits</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
            <tr>

                <td>{% if evenement.dateDebut|date("Y-m-d") > "now"|date("Y-m-d")%}
                    <span style="color:green;">{{ evenement.nom}}</span> {% else %}
                    <span style="color:red;">{{ evenement.nom}}</span> {% endif %}</td>
                <td>{{ evenement.lieu}}</td>
                <td>{{ evenement.dateDebut}}</td>
                <td>{{ evenement.dateFin}}</td>

                <td>{% endfor %} </td>


            </tr>

        </tbody>

    </table>

</div>

{% endblock %}
